| 返金のお知らせ
| 
| 
| #{purchaserName}様
| 
| 
| 返金が完了しましたのでお知らせいたします。
| 
| 購入番号 : #{paymentNo}
| ご来塔日時 : #{day} #{startTime}
| 返金金額 : #{amount} 円
| 
| 
| --------------------------------------------------
| 
| Refund notice
| 
| 
| Mr./Ms. #{purchaserName}
| 
| 
| We will inform you that refund is complete.
| 
| Purchase number : #{paymentNo}
| Tour reservation date and time : #{day} #{startTime}
| Refund amount : \ #{amount}